{% load static %} <!---Admin Page-->
    <!-- =============== Navigation ================ -->
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
        <ul>
            <li><a href="{% url 'admin_dashboard' %}">หน้าหลัก</a></li>
            <li><a href="{% url 'admin_user' %}">ผู้ใช้</a></li>
            <li><a href="{% url 'admin_room' %}">ห้อง</a></li>
            <li><a href="{% url 'admin_history_booking' %}">ประวัติการจองห้อง</a></li>

        </ul>
    <!-- =============== profile ================ -->
    <div class="action">
        <div class="profile" onclick="menuToggle();">
            <a href="{% url 'admin_profile' %}"><img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" ></a>
        </div>
    </div>
</nav>
    <script>
        function menuToggle(){
            const toggleMenu = document.querySelector('.menu2');
            toggleMenu.classList.toggle('active')
        }
    </script> 
