{% load static %}
    <!-- =============== Navigation ================ -->
<nav>
    {% if user.status == "นักศึกษา" or user.status == "ผู้ดูแลระบบ" %}
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a href="/">หน้าหลัก</a></li>
            <li><a href="/user_mybooking">การจองของฉัน</a></li>
        </ul>
    <!-- =============== profile ================ -->
        <div class="action">
            <div class="profile" onclick="menuToggle();">
                <a href="{% url 'user_profile' %}"><img src="{{ user.socialaccount_set.all.0.get_avatar_url }}"></a>
            </div>
        </div>
    <script>
        function menuToggle(){
            const toggleMenu = document.querySelector('.menu2');
            toggleMenu.classList.toggle('active')
        }
    </script> 
    {% else %}
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a href="/">หน้าหลัก</a></li>
            <li><a style="color: #000" href="{% url 'login' %}">เข้าสู่ระบบ</a></li>
        </ul>
    </nav>
    {% endif %}
</nav>
    <script>
        function menuToggle(){
            const toggleMenu = document.querySelector('.menu2');
            toggleMenu.classList.toggle('active')
        }
    </script> 
